.App {
  min-height: 100vh;
}

.flicker-animation {
  animation: flicker 4s infinite;
}

@keyframes flicker {
  0% { opacity: 0.97; }
  5% { opacity: 0.95; }
  10% { opacity: 0.9; }
  15% { opacity: 0.95; }
  20% { opacity: 0.99; }
  100% { opacity: 0.9; }
}